body{
    background-color: rgb(245, 245, 245);
    font-family: 'Montserrat', sans-serif;
}

.menu{
    background-color: #861846;
    padding: 20px;
}

.menu a{
    color: white;
    text-decoration: none;
    margin-right: 1.5%;
    margin-left: 1.5%;
}

.header{
    text-align: center;
    background-image: url(IMG/header-bg.jpg) ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 450px;
}

.header img{
    margin-top: 6%;
}

.preview{
    display: flex;
    justify-content: center;
    text-align: center;
}

.preview-item{
    width: 25%;
    margin: 30px;
    box-shadow: 1px 1px 60px -14px rgba(0,0,0,0.38);
-webkit-box-shadow: 1px 1px 60px -14px rgba(0,0,0,0.38);
-moz-box-shadow: 1px 1px 60px -14px rgba(0,0,0,0.38);
}

.nosotros{
    padding: 30px;
    background-color: white;
    text-align: center;
}

.container-articulo{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.articulo{
    border: #861846 solid 3px;
    border-radius: 20px;
    text-align: center;
    margin-top:20px ;
    background-color: #ffffff;
    padding: 10px;
    width: 20%;
    height: 10%;

}

.articulo img{
    width: 80%;
}

.articulo h2{
    color: #ffffff;
    padding: 10px;
    background-color: #861846;
    width: 40%;
    margin-left: 25%;
}

.titulo{
    text-align: center;
}

.arriba{
    height: 69%;
}

.arriba img{
    height:auto;
}

.abajo{
    height: 31%;
}

.contacto{
    padding-left: 30px;
    border: #861846 solid 3px;
    border-radius: 10px;
    margin-bottom: 10px;
}